@model ServiceManagementSystem.Database.Request

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatu.RequestStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatu.RequestStatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
