@model IEnumerable<ServiceManagementSystem.Database.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Request", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatu.RequestStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestStatu.RequestStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
